<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.crowdfunding.dao.DictionaryMapper">
  <resultMap id="BaseResultMap" type="com.crowdfunding.bean.Dictionary">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="code" jdbcType="VARCHAR" property="code" />
    <result column="subcode" jdbcType="VARCHAR" property="subcode" />
    <result column="val" jdbcType="VARCHAR" property="val" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_dictionary
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.crowdfunding.bean.Dictionary">
    insert into t_dictionary (id, name, code, 
      subcode, val)
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{code,jdbcType=VARCHAR}, 
      #{subcode,jdbcType=VARCHAR}, #{val,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.crowdfunding.bean.Dictionary">
    update t_dictionary
    set name = #{name,jdbcType=VARCHAR},
      code = #{code,jdbcType=VARCHAR},
      subcode = #{subcode,jdbcType=VARCHAR},
      val = #{val,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, name, code, subcode, val
    from t_dictionary
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, name, code, subcode, val
    from t_dictionary
  </select>
</mapper>